
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Redirection</title>
</head>
<body>
    
    <div class="container w-50">
        <h1>Edit Link</h1>
        <form class="d-flex flex-column" action="/edit/<%=body.id%>" method="POST">
            <input class="mb-2" name="title" placeholder="title" value="<%=body.title%>">
            <input class="mb-2" name="description" placeholder="Description" value="<%=body.description%>">
            <input class="mb-4" name="url" placeholder="URL" value="<%=body.url%>">
            <button class="btn btn-primary">Edit</button>    
        </form>
        <%if(error){%>
            <div class="alert alert-danger alert-dismissible fade show mt-3">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error</strong> <%=error.message%>              
            </div>
            <%}%>
    </div>  

</body>
